.viz{
  background-color: #ffffff;
}

#tooltip {
  font-size: 12px;
  position: absolute;
  width: auto;
  height: auto;
  padding: 2.5px;
  border:1px solid black;
  background: rgb(204, 0, 0);
  background: rgba(204, 0, 0, 0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

path.area{
  stroke-width:0.3;
  fill: #ffffff;
  stroke: blue;
}
path.area.highlight{
  fill:#fffff;
}
